<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Пользователь поделился новой публикацией</h1>
    <p>
      Имя: <%= @post.name %> <br>
      Род деятельности: <%= @post.position %> <br>
      Описание: <%= @post.description %> <br>
      Фото: <%= @post.photo %> <br>

      <br>

      <p>Сейчас публикация скрыта. Отредактировать и опубликовать можно в панели администратора</p>
    </p>
  </body>
</html>
